@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    background-color: black;
}

.under-construction {
    font-family: 'Plus Jakarta Sans', 'sans-serif';
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 900;
    font-style: italic;
}